---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/all/top/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=qLn7HqFpP7QT5ynjsqjl88B1nZl02Iwglh0slwNqRTgEgnqLWoF%2Bo2d4CxjhHcL3HEwd8Q%2FKBHc%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "businessinsider.com", "banned_by": null, "media_embed":
        {}, "subreddit": "technology", "selftext_html": null, "selftext": "", "likes":
        null, "suggested_sort": null, "user_reports": [], "secure_media": null, "link_flair_text":
        "Security", "id": "46exkr", "from_kind": null, "gilded": 0, "archived": false,
        "clicked": false, "report_reasons": null, "author": "AluminiumMk1", "media":
        null, "score": 6081, "approved_by": null, "over_18": false, "hidden": false,
        "num_comments": 3351, "thumbnail": "", "subreddit_id": "t5_2qh16", "hide_score":
        false, "edited": false, "link_flair_css_class": "general", "author_flair_css_class":
        null, "downs": 0, "secure_media_embed": {}, "saved": false, "removal_reason":
        null, "stickied": false, "from": null, "is_self": false, "from_id": null,
        "permalink": "/r/technology/comments/46exkr/john_mcafee_ill_decrypt_the_san_bernardino_phone/",
        "locked": false, "name": "t3_46exkr", "created": 1455834050.0, "url": "http://www.businessinsider.com/john-mcafee-ill-decrypt-san-bernardino-phone-for-free-2016-2",
        "author_flair_text": null, "quarantine": false, "title": "John McAfee: ''I''ll
        decrypt the San Bernardino phone for free so Apple doesn''t need to place
        a back door on its product''", "created_utc": 1455805250.0, "distinguished":
        null, "mod_reports": [], "visited": false, "num_reports": null, "ups": 6081}},
        {"kind": "t3", "data": {"domain": "self.iphone", "banned_by": null, "media_embed":
        {}, "subreddit": "iphone", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;p&gt;This pisses me off to no end. I click on a Reddit
        link to see a picture. Then I try to swipe back to go to the home page or
        comments to only be hit with the damn &lt;a href=\"http://s13.postimg.org/fhj30izg5/image.png\"&gt;green
        arrow&lt;/a&gt; &lt;sup&gt;yes, [...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:56472/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":""}'
  recorded_at: Fri, 19 Feb 2016 01:45:28 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/elements
    body:
      encoding: UTF-8
      string: '{"using":"css selector","value":".nav"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":[{"ELEMENT":"{dce5b774-15a7-cb4b-a666-356ae50271cb}","element-6066-11e4-a52e-4f735466cecf":"{dce5b774-15a7-cb4b-a666-356ae50271cb}"}]}'
  recorded_at: Fri, 19 Feb 2016 01:45:28 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/element/%7Bdce5b774-15a7-cb4b-a666-356ae50271cb%7D/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementDisplayed","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":true}'
  recorded_at: Fri, 19 Feb 2016 01:45:28 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/element/%7Bdce5b774-15a7-cb4b-a666-356ae50271cb%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":"All\ntop\nnew\nrising\ncontroversial\nhot\ngilded\nLogin
        with Reddit"}'
  recorded_at: Fri, 19 Feb 2016 01:45:28 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/element/%7B4fa57c32-f531-a94d-8a90-da5832ad8a1a%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":"All\ntop\nnew\nrising\ncontroversial\nhot\ngilded\nLogin
        with Reddit\nREDDIT CLONE AGHHHHH"}'
  recorded_at: Fri, 19 Feb 2016 01:45:30 GMT
recorded_with: VCR 3.0.1
