---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/all/top/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=77CmxzqGr3Px010en1M6JRsMhZuMQTRe0vWrsvsVO9dE9Bb9uysgfND%2FP4zZ63TffBuv4fF4Rbk%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "theverge.com", "banned_by": null, "media_embed": {}, "subreddit":
        "Android", "selftext_html": null, "selftext": "", "likes": null, "suggested_sort":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "46bxa4", "from_kind": null, "gilded": 1, "archived": false, "clicked": false,
        "report_reasons": null, "author": "ytuns", "media": null, "score": 7048, "approved_by":
        null, "over_18": false, "hidden": false, "preview": {"images": [{"source":
        {"url": "https://i.redditmedia.com/yEEQHvJud9JvH5IYLn1PIp0oN2ck1UKAiPbsF2BHCo8.jpg?s=4b1a2a5f51aea73f5c777ab6fcb77e5f",
        "width": 1600, "height": 900}, "resolutions": [{"url": "https://i.redditmedia.com/yEEQHvJud9JvH5IYLn1PIp0oN2ck1UKAiPbsF2BHCo8.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=888aae16d4568c46bd8345d5a964f134",
        "width": 108, "height": 60}, {"url": "https://i.redditmedia.com/yEEQHvJud9JvH5IYLn1PIp0oN2ck1UKAiPbsF2BHCo8.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=e4342354eb65289c9afe552198c03c61",
        "width": 216, "height": 121}, {"url": "https://i.redditmedia.com/yEEQHvJud9JvH5IYLn1PIp0oN2ck1UKAiPbsF2BHCo8.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=e1235d1cc70aea74ac71c3da2b1a53dc",
        "width": 320, "height": 180}, {"url": "https://i.redditmedia.com/yEEQHvJud9JvH5IYLn1PIp0oN2ck1UKAiPbsF2BHCo8.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=640&amp;s=a3267d54cd31a654b64ce40c6043ae83",
        "width": 640, "height": 360}, {"url": "https://i.redditmedia.com/yEEQHvJud9JvH5IYLn1PIp0oN2ck1UKAiPbsF2BHCo8.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=960&amp;s=63c6afd8b5a8116014a2b5f6f1d73201",
        "width": 960, "height": 540}, {"url": "https://i.redditmedia.com/yEEQHvJud9JvH5IYLn1PIp0oN2ck1UKAiPbsF2BHCo8.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=1080&amp;s=e05e381ace397950d9d56af29ea4db35",
        "width": 1080, "height": 607}], "variants": {}, "id": "0BVOMjiIVcgcVX1sGEL_BWPASwF5jQrkEEV-Lcn79IQ"}]},
        "num_comments": 1151, "thumbnail": "http://b.thumbs.redditmedia.com/D9Q3p84pfKSYAuPAGpl0Px0TCD0Tr3_JCFOCOLfrOfA.jpg",
        "subreddit_id": "t5_2qlqh", "hide_score": false, "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "secure_media_embed": {},
        "saved": false, "removal_reason": null, "post_hint": "link", "stickied": false,
        "from": null, "is_self": false, "from_id": null, "permalink": "/r/Android/comments/46bxa4/googles_ceo_just_sided_with_apple_in_the/",
        "locked": false, "name": "t3_46bxa4", "created": 1455783227.0, "url": "http://www.theverge.com/2016/2/17/11040266/google-ceo-sundar-pichai-sides-with-apple-encryption",
        "author_flair_text": null, "quarantine": false, "title": "Google\u2019s CEO
        just sided with Apple in the encryption debate", "created_utc": 1455754427.0,
        "distinguished": null, "mod_reports": [], "visited": false, "num_reports":
        null, "ups": 7048}}, {"kind": "t3", "data": {"domain": "i.imgur.com", "banned_by":
        null, "media_embed": {}, "subreddit": "pics", "selftext_html": null, "selftext":
        "", "likes": null, "suggested_sort": null, "user_reports": [], "secure_media":
        null, "link_flair_text": "Backstory", "id": "46ahkv", "from_kind": null, "gilded":
        6, "archived": false, "clicked": false, "report_reasons": null, "author":
        "M1ckey", "media": null, "score": 5985, "approved_by": null, "over_18": [...]
