---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/api/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-2hg-4itv1k-B_nYZwD6Vmv65axE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '599.0'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '48'
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"has_mail": false, "name": "aapirails", "created": 1455684348.0, "hide_from_robots":
        false, "is_suspended": false, "created_utc": 1455655548.0, "has_mod_mail":
        false, "link_karma": 1, "comment_karma": 0, "over_18": false, "is_gold": false,
        "is_mod": false, "id": "v5lrg", "gold_expiration": null, "inbox_count": 0,
        "has_verified_email": false, "gold_creddits": 0, "suspension_expiration_utc":
        null}'
  recorded_at: Fri, 19 Feb 2016 17:29:12 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/api/v1/me/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-2hg-4itv1k-B_nYZwD6Vmv65axE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '598.0'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Reset:
      - '38'
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"has_mail": false, "name": "aapirails", "created": 1455684348.0, "hide_from_robots":
        false, "is_suspended": false, "created_utc": 1455655548.0, "has_mod_mail":
        false, "link_karma": 1, "comment_karma": 0, "over_18": false, "is_gold": false,
        "is_mod": false, "id": "v5lrg", "gold_expiration": null, "inbox_count": 0,
        "has_verified_email": false, "gold_creddits": 0, "suspension_expiration_utc":
        null}'
  recorded_at: Fri, 19 Feb 2016 17:29:22 GMT
recorded_with: VCR 3.0.1
