---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/message/sent/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-8Rs4HZnHoAEBfZShYi5qWOxuSx0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '595.0'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Reset:
      - '97'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=e3SL7XZVcWZ7cy%2B%2FFHosEtgOfQSFufK7JyU%2FpXtFaauHVofsjoi3xCWcCCeRRoM%2Fq%2FcVpSNMHSqrgKkd%2B6Y%2FD5pDPu6hyV0Y
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [], "after":
        null, "before": null}}'
  recorded_at: Fri, 19 Feb 2016 06:48:23 GMT
recorded_with: VCR 3.0.1
