---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/message/sent/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fmessage%2Fsent%2F
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: |-
        <html>
         <head>
          <title>302 Found</title>
         </head>
         <body>
          <h1>302 Found</h1>
          The resource was found at <a href="https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fmessage%2Fsent%2F">https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fmessage%2Fsent%2F</a>;
        you should be redirected automatically.


         </body>
        </html>
  recorded_at: Fri, 19 Feb 2016 01:45:27 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:56472/private_messages"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"get","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":""}'
  recorded_at: Fri, 19 Feb 2016 01:45:27 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":[{"ELEMENT":"{b12ac85b-0f45-ed41-9eb3-2ea0c0cdf782}","element-6066-11e4-a52e-4f735466cecf":"{b12ac85b-0f45-ed41-9eb3-2ea0c0cdf782}"}]}'
  recorded_at: Fri, 19 Feb 2016 01:45:27 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/element/%7Bb12ac85b-0f45-ed41-9eb3-2ea0c0cdf782%7D/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementDisplayed","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":true}'
  recorded_at: Fri, 19 Feb 2016 01:45:27 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/094ed309-25d9-6245-bfe2-966983400778/element/%7Bb12ac85b-0f45-ed41-9eb3-2ea0c0cdf782%7D/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"getElementText","sessionId":"094ed309-25d9-6245-bfe2-966983400778","status":0,"value":"Internal
        Server Error\n757: unexpected token at ''<html> <head> <title>302 Found</title>
        </head> <body> <h1>302 Found</h1> The resource was found at <a href=\"https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fmessage%2Fsent%2F\">https://www.reddit.com/login?dest=https%3A%2F%2Foauth.reddit.com%2Fmessage%2Fsent%2F</a>;
        you should be redirected automatically. </body> </html>''\nWEBrick/1.3.1 (Ruby/2.2.1/2015-02-26)
        at 127.0.0.1:56472"}'
  recorded_at: Fri, 19 Feb 2016 01:45:27 GMT
recorded_with: VCR 3.0.1
