---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/message/inbox/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-8Rs4HZnHoAEBfZShYi5qWOxuSx0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '596.0'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Reset:
      - '98'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=b%2FD2um2JIcvBR0GdZfq49NPrZ0iCBF2ZW9jBeTlu1heDL%2BChobSlfljXEZtF%2F%2BmEU8sREctG1y7lo8KvayoUklb0HoNdEZUy
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t4", "data": {"body": "Hello!\r\n\r\nHere\u2019s some information to get
        you started with reddit.  \r\n\r\n### The key to enjoying reddit is finding
        the right communities to follow \r\nThey say there\u2019s a subreddit for
        everything. [Type in an interest](https://www.reddit.com/subreddits?ref=welcomepm)
        and Snoo (our time traveling alien mascot) will help find the right subreddit
        for you! \r\n\r\n### How it all works  \r\n\r\n1. Users [...]
