---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/message/sent/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-tZn8AIcl6sr2jjrmW2euJ75rODk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '594.0'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Reset:
      - '548'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=VEkNdnj%2FTmEYxxerdfNma418K7lqb0JrgyX1aC%2BXs0XYrYths%2Fqhs6HFm4D7s7u%2BAV0u0pyMzUD0UMmxROu8WlBgXnwLz0ZD
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [], "after":
        null, "before": null}}'
  recorded_at: Thu, 18 Feb 2016 17:30:52 GMT
recorded_with: VCR 3.0.1
