---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/r/all/new/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-8Rs4HZnHoAEBfZShYi5qWOxuSx0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '597.0'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Reset:
      - '98'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=fY%2Bh9kXZ3UQClRixkbjFLStUER%2ByBQHSLn5sBQ%2FH%2B7Ufc4HT%2F81MqWjG8EwSjDYu8rfZJcQLO3Y%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t3", "data": {"domain": "self.empirepowers", "banned_by": null, "media_embed":
        {}, "subreddit": "empirepowers", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;ol&gt;\n&lt;li&gt;&lt;p&gt;Purge the mods. &lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Recruit
        mods and sear for mod with with experience in previous seasons or other powers
        subreddits &lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Establish mod code&lt;/p&gt;&lt;/li&gt;\n&lt;/ol&gt;\n\n&lt;p&gt;-I
        pledge to not avoid posts because they are controversial, boring, complicated
        etc. Posts will be completed in a time[...]
