---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/r/all/new/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-tZn8AIcl6sr2jjrmW2euJ75rODk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '596.0'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Reset:
      - '549'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=SbfHBJlPfjouvq5tbjUm70FMktjEa0F1PC0PdCwTeLwV7rNsw0B2PwRgl22o54bVrTJ6qmNBNKU%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t3", "data": {"domain": "independent.co.uk", "banned_by": null, "media_embed":
        {}, "subreddit": "ImABlue", "selftext_html": null, "selftext": "", "likes":
        null, "suggested_sort": "confidence", "user_reports": [], "secure_media":
        null, "link_flair_text": null, "id": "46fvtm", "from_kind": null, "gilded":
        0, "archived": false, "clicked": false, "report_reasons": null, "author":
        "ImaBlue", "media": null, "score": 1, "approved_by": null, "over_18": false,
        "hidden": false, "preview": {"images": [{"source": {"url": "https://i.redditmedia.com/zL9ZsqRlEfzMYtokuch-cZzPR_67SyIgCNQTTsKV0f4.jpg?s=9b18276914c510df9b0ef4fd4c4a0138",
        "width": 2048, "height": 1536}, "resolutions": [{"url": "https://i.redditmedia.com/zL9ZsqRlEfzMYtokuch-cZzPR_67SyIgCNQTTsKV0f4.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=1f6025c5214edbebd017931ca7ac964d",
        "width": 108, "height": 81}, {"url": "https://i.redditmedia.com/zL9ZsqRlEfzMYtokuch-cZzPR_67SyIgCNQTTsKV0f4.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=f83bef304680d8dff065f86641452c28",
        "width": 216, "height": 162}, {"url": "https://i.redditmedia.com/zL9ZsqRlEfzMYtokuch-cZzPR_67SyIgCNQTTsKV0f4.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=99a18ab6458f45d8de70a47eddc01274",
        "width": 320, "height": 240}, {"url": "https://i.redditmedia.com/zL9ZsqRlEfzMYtokuch-cZzPR_67SyIgCNQTTsKV0f4.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=640&amp;s=3bf1db02a83e7e8a912be3c70a77ff1e",
        "width": 640, "height": 480}, {"url": "https://i.redditmedia.com/zL9ZsqRlEfzMYtokuch-cZzPR_67SyIgCNQTTsKV0f4.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=960&amp;s=806014c20be3c2f74f59849ee94cff1e",
        "width": 960, "height": 720}, {"url": "https://i.redditmedia.com/zL9ZsqRlEfzMYtokuch-cZzPR_67SyIgCNQTTsKV0f4.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=1080&amp;s=3781027cfac95a3c1fdf976375d00799",
        "width": 1080, "height": 810}], "variants": {}, "id": "DkHVsXL9f7KT8hoz6NtiBTQs3O4pI9qCmvS-wEbbz1U"}]},
        "num_comments": 0, "thumbnail": "http://b.thumbs.redditmedia.com/dw9H2FD74Ft7oI9xrArFP_chhpMMWUm9fK0nc6k9ryM.jpg",
        "subreddit_id": "t5_3buxs", "hide_score": true, "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "secure_media_embed": {},
        "saved": false, "removal_reason": null, "post_hint": "link", "stickied": false,
        "from": null, "is_self": false, "from_id": null, "permalink": "/r/ImABlue/comments/46fvtm/osborne_urged_to_spend_more_on_infrastructure_by/",
        "locked": false, "name": "t3_46fvtm", "created": 1455845447.0, "url": "http://www.independent.co.uk/news/business/Leading_business_story/osborne-urged-to-spend-more-on-infrastructure-by-oecd-a6881871.html",
        "author_flair_text": null, "quarantine": false, "title": "Osborne urged to
        spend more on infrastructure by OECD", "created_utc": 1455816647.0, "distinguished":
        null, "mod_reports": [], "visited": false, "num_reports": null, "ups": 1}},
        {"kind": "t3", "data": {"domain": "self.The_Donald", "banned_by": null, "media_embed":
        {}, "subreddit": "The_Donald", "selftext_html": null, "selftext": "", "likes":
        null, "suggested_sort": null, "user_reports": [], "secure_media": null, "link_flair_text":
        null, "id": "46fvtk", "from_kind": null, "gilded": 0, "archived": false, "clicked":
        false, "report_reasons": null, "author": "rsashe1980", "media": null, "score":
        1, "approved_by": null, "o[...]
