---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/r/all/top/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 52329580-8Rs4HZnHoAEBfZShYi5qWOxuSx0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '598.0'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Reset:
      - '99'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=oyiaTcKuBJKx5vTmKUzUIyHI71jdMPyyMgQ7t%2Fplc3ojpGMyHXLyAn49Ex3w0%2Fe%2FTz7OQ6U%2BL5g%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t3", "data": {"domain": "imgur.com", "banned_by": null, "media_embed": {"content":
        "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 550, "scrolling": false, "height": 550}, "subreddit": "funny", "selftext_html":
        null, "selftext": "", "likes": null, "suggested_sort": null, "user_reports":
        [], "secure_media": {"oembed": {"provider_url": "http://imgur.com", "description":
        "This album is really big! It''s going to take us a bit to get your download
        ready for you. Enter your email and we will notify you when it''s ready. Once
        ready, it will be available for up to 24 hours.", "title": "Imgur: The most
        awesome images on the Internet", "type": "rich", "thumbnail_width": 600, "height":
        550, "width": 550, "html": "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "version": "1.0", "provider_name": "Imgur", "thumbnail_url": "https://i.embed.ly/1/image?url=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "thumbnail_height": 315}, "type": "imgur.com"}, "link_flair_text": null, "id":
        "46i27j", "from_kind": null, "gilded": 0, "archived": false, "clicked": false,
        "report_reasons": null, "author": "sal_marin", "media": {"oembed": {"provider_url":
        "http://imgur.com", "description": "This album is really big! It''s going
        to take us a bit to get your download ready for you. Enter your email and
        we will notify you when it''s ready. Once ready, it will be available for
        up to 24 hours.", "title": "Imgur: The most awesome images on the Internet",
        "type": "rich", "thumbnail_width": 600, "height": 550, "width": 550, "html":
        "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "version": "1.0", "provider_name": "Imgur", "thumbnail_url": "http://i.imgur.com/fCBFh1R.jpg?fb",
        "thumbnail_height": 315}, "type": "imgur.com"}, "score": 7402, "approved_by":
        null, "over_18": false, "hidden": false, "preview": {"images": [{"source":
        {"url": "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?s=e2d4e28a7033a041644e2cde49973bab",
        "width": 600, "height": 315}, "resolutions": [{"url": "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=ebfccfe42126c9be8cd1eafef234378d",
        "width": 108, "height": 56}, {"url": "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=85f55e540d10885d3d9b344db5d01cc9",
        "width": 216, "height": 113}, {"url": "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=d0b37d59bad3f8ab643df1d2be08967e",
        "width": 320, "height": 168}], "variants": {}, "id": "eZ-0VNdFW0Ik30ZL3k5tMFng2PB3i5GFthULcgTB6vQ"}]},
        "num_comments": 757, "thumbnail": "http://a.thumbs.redditmedia.com/D2aNnrthB-OVrpl0hfnKzTOd34SXNsuEYXDGzTyxNG0.jpg",
        "subreddit_id": "t5_2qh33", "hide_score": false, "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "secure_media_embed": {"content":
        "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 550, "scrolling": false, "height": 550}, "saved": false, "removal_reason":
        null, "post_hint": "link", "stickied": false, "from": null, "is_self": false,
        "from_id": null, "permalink": "/r/funny/comments/46i27j/friends_pranked_me_by_converting_my_bedroom_to_a/",
        "locked": false, "name": "t3_46i27j", "created": 1455872411.0, "url": "http://imgur.com/a/igwwn",
        "author_flair_text": null, "quarantine": false, "title": "Friends pranked
        me by converting my bedroom to a utility closet.", "created_utc": 1455843611.0,
        "distinguished": null, "mod_reports": [], "visited": false, "num_reports":
        null, "ups": 7402}}, {"kind": "t3", "data": {"domain": "theguardian.com",
        "banned_by": null, "media_embed": {}, "subreddit": "technology", "selftext_html":
        null, "selftext": "", "likes": null, "suggested_sort": null, "user_reports":
        [], "secure_media": null, "link_flair_text": "Security", "id": "46f8p8", "from_kind":
        null, "gilded": 1, "archived": false, "clicked": false, "report_reasons":
        null, "author": "kulkke", "media": null, "score": 6172, "approved_by": null,
  [...]
