---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=GZosw4r7198wI4L%2FK1apQa4kc8zArvHtNaZYFELY3P1B4RQEEfxkFwA%2F6R4K7Dkcy3L%2BhogfTwdeXu6SC6rOocpNcPoBvXr2
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "al.com", "banned_by": null, "media_embed": {}, "subreddit":
        "books", "selftext_html": null, "selftext": "", "likes": null, "suggested_sort":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "46l48e", "from_kind": null, "gilded": 0, "archived": false, "clicked": false,
        "report_reasons": null, "author": "Sctvman", "media": null, "score": 7016,
        "approved_by": null, "over_18": false, "hidden": false, "preview": {"images":
        [{"source": {"url": "https://i.redditmedia.com/kFfjV5J5y7Q5EmPDA5kCs7XqqgEvOb4KLPzbdfWY9LA.jpg?s=84e482bffe791d57d4a37fe918c13a03",
        "width": 380, "height": 256}, "resolutions": [{"url": "https://i.redditmedia.com/kFfjV5J5y7Q5EmPDA5kCs7XqqgEvOb4KLPzbdfWY9LA.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=c817c9380830fad8d184d91f3ada7fb3",
        "width": 108, "height": 72}, {"url": "https://i.redditmedia.com/kFfjV5J5y7Q5EmPDA5kCs7XqqgEvOb4KLPzbdfWY9LA.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=a3ea6159d075aac0afa8dfc2fee0d92e",
        "width": 216, "height": 145}, {"url": "https://i.redditmedia.com/kFfjV5J5y7Q5EmPDA5kCs7XqqgEvOb4KLPzbdfWY9LA.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=27bc750de536c2e2feb842a0ee725425",
        "width": 320, "height": 215}], "variants": {}, "id": "sBmopnCS8AgMIM8497WJhwqqDmMeK0sT9hEygGSrhl0"}]},
        "num_comments": 583, "thumbnail": "http://b.thumbs.redditmedia.com/taVwvpHmzRkjV8YI-ZqR9581hcpCQbJoIS7ZteEUC4I.jpg",
        "subreddit_id": "t5_2qh4i", "hide_score": true, "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "secure_media_embed": {},
        "saved": false, "removal_reason": null, "post_hint": "link", "stickied": false,
        "from": null, "is_self": false, "from_id": null, "permalink": "/r/books/comments/46l48e/to_kill_a_mockingbird_author_harper_lee_has/",
        "locked": false, "name": "t3_46l48e", "created": 1455924275.0, "url": "http://www.al.com/news/index.ssf/2016/02/harper_lee_dead_at_age_of_89_t.html#incart_breaking",
        "author_flair_text": null, "quarantine": false, "title": "To Kill a Mockingbird
        author Harper Lee has passed away at age 89.", "created_utc": 1455895475.0,
        "distinguished": null, "mod_reports": [], "visited": false, "num_reports":
        null, "ups": 7016}}, {"kind": "t3", "data": {"domain": "al.com", "banned_by":
        null, "media_embed": {}, "subreddit": "news", "selftext_html": null, "selftext":
        "", "likes": null, "suggested_sort": null, "user_reports": [], "secure_media":
        null, "link_flair_text": null, "id": "46l4mg", "from_kind": null, "gilded":
        0, "archived": false, "clicked": false, "report_reasons": null, "author":
        "hephephippo", "media": null, "score": 4730, "approved_by": null, "over_18":
        false, "hidden": false, "num_comments": 379, "thumbnail": "", "subreddit_id":
        "t5_2qh3l", "hide_score": true, "edited": false, "link_flair_css_class": null,
        "author_flair_css_class": null, "downs": 0, "secure_media_embed": {}, "saved":
        false, "removal_reason": null, "stickied": false, "from": null, "is_self":
        false, "from_id": null, "permalink": "/r/news/comments/46l4mg/harper_lee_dead_at_age_of_89_to_kill_a/",
        "locked": false, "name": "t3_46l4mg", "created": 1455924433.0, "url": "http://www.al.com/news/index.ssf/2016/02/harper_lee_dead_at_age_of_89_t.html",
        "author_flair_text": null, "quarantine": false, "title": "Harper Lee dead
        at age of 89: ''To Kill a Mockingbird Author'' passes away", "created_utc":
        1455895633.0, "distinguished": null, "mod_reports": [], "visited": false,
        "num_reports": null, "ups": 4730}}, {"kind": "t3", "data": {"domain": "i.imgur.com",
        "banned_by": null, "media_embed": {"content": "&lt;iframe class=\"embedly-embed\"
        src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fi.imgur.com%2FOFTZbKx.mp4&amp;src_secure=1&amp;url=http%3A%2F%2Fi.imgur.com%2FOFTZbKx.gifv&amp;image=https%3A%2F%2Fi.imgur.com%2FOFTZbKxh.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=video%2Fmp4&amp;schema=imgur\"
        width=\"426\" height=\"426\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 426, "scrolling": false, "height": 426}, "subreddit": "gifs", "selftext_html":
        null, "selftext": "", "likes": null, "suggested_sort": null, "user_reports":
        [], "secure_media": {"oembed": {"provider_url": "http://i.imgur.com", "description":
        "Imgur: The most awesome images on the Internet.", "title": "Hood olympics",
        "type": "video", "thumbnail_width": 426, "height": 426, "width": 426, "html":
        "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fi.imgur.com%2FOFTZbKx.mp4&amp;src_secure=1&amp;url=http%3A%2F%2Fi.imgur.com%2FOFTZbKx.gifv&amp;image=https%3A%2F%2Fi.imgur.com%2FOFTZbKxh.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=video%2Fmp4&amp;schema=imgur\"
        width=\"426\" height=\"426\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "version": "1.0", "provider_name": "Imgur", "thumbnail_url": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.imgur.com%2FOFTZbKxh.jpg&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "thumbnail_height": 426}, "type": "i.imgur.com"}, "link_flair_text": null,
        "id": "46kr5b", "from_kind": null, "gilded": 0, "archived": false, "clicked":
        false, "report_reasons": null, "author": "Handicapreader", "media": {"oembed":
        {"provider_url": "http://i.imgur.com", "description": "Imgur: The most awesome
        images on the Internet.", "title": "Hood olympics", "type": "video", "thumbnail_width":
        426, "height": 426, "width": 426, "html": "&lt;iframe class=\"embedly-embed\"
  [...]
