---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/all/top/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=AgEL3MSJ1bHEZzVyF7xwZICZXr7Z%2BMeXS7sqeccLeCR9KgzNNVTxw5jpmPnb3o7KQXDkdcuO7N8%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "imgur.com", "banned_by": null, "media_embed": {"content":
        "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 550, "scrolling": false, "height": 550}, "subreddit": "funny", "selftext_html":
        null, "selftext": "", "likes": null, "suggested_sort": null, "user_reports":
        [], "secure_media": {"type": "imgur.com", "oembed": {"provider_url": "http://imgur.com",
        "description": "This album is really big! It''s going to take us a bit to
        get your download ready for you. Enter your email and we will notify you when
        it''s ready. Once ready, it will be available for up to 24 hours.", "title":
        "Imgur: The most awesome images on the Internet", "thumbnail_width": 600,
        "height": 550, "width": 550, "html": "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "version": "1.0", "provider_name": "Imgur", "thumbnail_url": "https://i.embed.ly/1/image?url=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "type": "rich", "thumbnail_height": 315}}, "link_flair_text": null, "id":
        "46i27j", "from_kind": null, "gilded": 1, "archived": false, "clicked": false,
        "report_reasons": null, "author": "sal_marin", "media": {"type": "imgur.com",
        "oembed": {"provider_url": "http://imgur.com", "description": "This album
        is really big! It''s going to take us a bit to get your download ready for
        you. Enter your email and we will notify you when it''s ready. Once ready,
        it will be available for up to 24 hours.", "title": "Imgur: The most awesome
        images on the Internet", "thumbnail_width": 600, "height": 550, "width": 550,
        "html": "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "version": "1.0", "provider_name": "Imgur", "thumbnail_url": "http://i.imgur.com/fCBFh1R.jpg?fb",
        "type": "rich", "thumbnail_height": 315}}, "score": 6457, "approved_by": null,
        "over_18": false, "hidden": false, "preview": {"images": [{"source": {"url":
        "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?s=e2d4e28a7033a041644e2cde49973bab",
        "width": 600, "height": 315}, "resolutions": [{"url": "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=ebfccfe42126c9be8cd1eafef234378d",
        "width": 108, "height": 56}, {"url": "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=85f55e540d10885d3d9b344db5d01cc9",
        "width": 216, "height": 113}, {"url": "https://i.redditmedia.com/XephHPsufOlI9OCIeWEXUcsiga6IOxKfMS1hnN5gCrw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=d0b37d59bad3f8ab643df1d2be08967e",
        "width": 320, "height": 168}], "variants": {}, "id": "eZ-0VNdFW0Ik30ZL3k5tMFng2PB3i5GFthULcgTB6vQ"}]},
        "num_comments": 1322, "thumbnail": "http://a.thumbs.redditmedia.com/D2aNnrthB-OVrpl0hfnKzTOd34SXNsuEYXDGzTyxNG0.jpg",
        "subreddit_id": "t5_2qh33", "hide_score": false, "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "secure_media_embed": {"content":
        "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=%2F%2Fimgur.com%2Fa%2Figwwn%2Fembed&amp;url=http%3A%2F%2Fimgur.com%2Fa%2Figwwn&amp;image=http%3A%2F%2Fi.imgur.com%2FfCBFh1R.jpg%3Ffb&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=imgur\"
        width=\"550\" height=\"550\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 550, "scrolling": false, "height": 550}, "saved": false, "removal_reason":
        null, "post_hint": "link", "stickied": false, "from": null, "is_self": false,
        "from_id": null, "permalink": "/r/funny/comments/46i27j/friends_pranked_me_by_converting_my_bedroom_to_a/",
        "locked": false, "name": "t3_46i27j", "created": 1455872411.0, "url": "http://imgur.com/a/igwwn",
        "author_flair_text": null, "quarantine": false, "title": "Friends pranked
        me by converting my bedroom to a utility closet.", "created_utc": 1455843611.0,
        "distinguished": null, "mod_reports": [], "visited": false, "num_reports":
        null, "ups": 6457}}, {"kind": "t3", "data": {"domain": "i.imgur.com", "banned_by":
        null, "media_embed": {"content": "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fi.imgur.com%2FB0447jz.mp4&amp;src_secure=1&amp;url=http%3A%2F%2Fi.imgur.com%2FB0447jz.gifv&amp;image=https%3A%2F%2Fi.imgur.com%2FB0447jzh.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=video%2Fmp4&amp;schema=imgur\"
        width=\"426\" height=\"240\" scrolling=\"no\" frameborder=\"[...]
- request:
    method: get
    uri: http://www.reddit.com/r/all/new/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=3zth7G79K1JWK2%2Feek2EUHzL%2BXs%2FaYarYEOM2fBpx8eNVa%2BxeBAcYeQse6nPV6YnOqo%2BPoIPIb8%3D
      X-Moose:
      - majestic
    body:
      encodin[...]
- request:
    method: get
    uri: http://www.reddit.com/r/all/rising/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=QfeurUVEe0r9KxYgFxDmgRLmkF%2BoqmzHXJdMqPdWZdqw%2BB0H%2Bv3reggv%2BMT5fd7xNi7tyoU%2BYDs%3D
      X-Moose:
      - majestic
    body:
      enco[...]
- request:
    method: get
    uri: http://www.reddit.com/r/all/controversial/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=cLmPmLfEQbR9icjCsgaMT6K84%2BjiMTv7QYE9snU6%2F1hm4y%2BFeLNPkgcPaYwI5RIFBG2t21Npq8I%3D
      X-Moose:
      - majestic
    body:
      e[...]
- request:
    method: get
    uri: http://www.reddit.com/r/all/hot/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=dROmsgSW6J%2FlZJbXmjEyyT%2Bw1q8tqn7z1BmSkxEBx%2Fn2EIatQbiXeX22lLbIY4K7axcKkOM9ak4%3D
      X-Moose:
      - majestic
    body:
      encoding: A[...]
- request:
    method: get
    uri: http://www.reddit.com/r/all/gilded/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=NeafciElVoazyzxrCnGzeL%2B3nRi66rU0Bo3pMT2r%2Bkr8Jis02LiDbyC3HotasEByvsVo2dRBp8w%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t1",
        "data": {"subreddit_id": "t5_2w0u7", "link_title": "Skincare Recommendations:
        What is your HG, can''t live without, item(s)?", "banned_by": null, "removal_reason":
        null, "link_id": "t3_46luv8", "link_author": "Undene", "likes": null, "replies":
        "", "user_reports": [], "saved": false, "id": "d063jg4", "gilded": 1, "archived":
        false, "stickied": false, "author": "svenicorn", "parent_id": "t3_46luv8",
        "score": 0, "approved_by": null, "over_18": false, "report_reasons": null,
        "controversiality": 0, "body": "I FOUND THIS FOR YOU\n\nhttps://www.reddit.com/r/AsianBeauty/comments/3g7x9d/the_late_summer_2015_holy_grail_and_honorable/",
        "edited": false, "author_flair_css_class": null, "downs": 0, "body_html":
        "&lt;div class=\"md\"&gt;&lt;p&gt;I FOUND THIS FOR YOU&lt;/p&gt;\n\n&lt;p&gt;&lt;a
        href=\"https://www.reddit.com/r/AsianBeauty/comments/3g7x9d/the_late_summer_2015_holy_grail_and_honorable/\"&gt;https://www.reddit.com/r/AsianBeauty/comments/3g7x9d/the_late_summer_2015_holy_grail_and_honorable/&lt;/a&gt;&lt;/p&gt;\n&lt;/div&gt;",
        "quarantine": false, "subreddit": "AsianBeauty", "score_hidden": false, "name":
        "t1_d063jg4", "created": 1455933585.0, "author_flair_text": null, "link_url":
        "https://www.reddit.com/r/AsianBeauty/comments/46luv8/skincare_recommendations_what_is_your_hg_cant/",
        "created_utc": 1455904785.0, "ups": 0, "mod_reports": [], "num_reports": null,
        "distinguished": null}}, {"kind": "t1", "data": {"subreddit_id": "t5_2qh1i",
        "link_title": "Who are you shocked isn''t dead yet?", "banned_by": null, "removal_reason":
        null, "link_id": "t3_46karl", "link_author": "Laughing_Boy_from_HS", "likes":
        null, "replies": "", "u[...]
[...]
