<ul class="nav nav-tabs">
  <li></li>
  <li role="presentation" class="active"><a href="#">Hot</a></li>
  <li role="presentation"><a href="#">New</a></li>
  <li role="presentation"><a href="#">Rising</a></li>
  <li role="presentation"><a href="#">Controversial</a></li>
  <li role="presentation"><a href="#">Top</a></li>
  <li role="presentation"><a href="#">Gilded</a></li>
  <li role="presentation"><%= login_or_logout_link %></li>
  <li role="presentation"><%= link_to "Comment History", "#" %></li>
  <li role="presentation"><%= link_to "Private Messages", private_message_path %></li>
</ul>
