<ul class="nav nav-tabs">
  <li> <%= @sub.capitalize %> </li>
  <li role="presentation" class="active"><a href="#">Top</a></li>
  <li role="presentation"><a href="#">New</a></li>
  <li role="presentation"><a href="#">Rising</a></li>
  <li role="presentation"><a href="#">Controversial</a></li>
  <li role="presentation"><a href="#">Hot</a></li>
  <li role="presentation"><a href="#">Gilded</a></li>
  <li role="presentation"><%= login_or_logout_link %></li>
</ul>
