<ul class="nav nav-tabs subreddits">
  <li role="presentation" class="active"><%= link_to "all", "#", class: "sub sub-all" %></li>
  <% default_subreddits[0..6].each do |subreddit| %>
  <li role="presentation"><%= link_to subreddit, "#", class: "sub sub-#{subreddit}" %></li>
  <% end %>
</ul>
