<% messages.each do |message| %>
  <h3>Sent by: <%= message.author.capitalize %></h3>
  <li>
    <%= message.body %>
  </li>
<% end %>

<% if messages.length == 0 %>
  <h3>Hmmm seems you don't have any mail in this box</h3>
<% end %>
