<script type="text/javascript">
  $('.pm-sent').click(function(){
    $("#sent").removeClass("hide")
    $("#inbox").addClass("hide")

    $("#ajax-messages").empty();

    $.ajax({
       type:"GET",
       beforeSend: function(request)
       {
           request.setRequestHeader("Authorization", "bearer " + "<%= current_access_token %>");
       },
       url: "https://oauth.reddit.com/message/sent",
       success: function(msg) {
         var messages = []
         var message_json = msg.data.children

         for( i=0; i < message_json.length; i++ ){
           $("#ajax-messages").append("<li> Author: " + message_json[i].data.author + "<br>" + message_json[i].data.body + "</li>")
         }

       },
       error: function(textStatus, errorThrown){
         alert("AJAX request failed :( ")
       }
    });
  })

  $('.pm-inbox').click(function(){
    $("#inbox").removeClass("hide")
    $("#sent").addClass("hide")

    $("#ajax-messages").empty();

    $.ajax({
       type:"GET",
       beforeSend: function(request)
       {
           request.setRequestHeader("Authorization", "bearer " + "<%= current_access_token %>");
       },
       url: "https://oauth.reddit.com/message/inbox",
       success: function(msg) {
         var message_json = msg.data.children

         for( i=0; i < message_json.length; i++ ){
           $("#ajax-messages").append("<li> Author: " + message_json[i].data.author + "<br>" + message_json[i].data.body + "</li>")
         }
       },
       error: function(textStatus, errorThrown){
         alert("AJAX request failed :( ")
       }
    });
  })

</script>
