<ul class="nav nav-tabs">
  <li></li>
  <li role="presentation" class="active"><a href="#">inbox</a></li>
  <li role="presentation"><a href="#">sent</a></li>
  <li role="presentation"><a href="#">send a private message</a></li>
  <li role="presentation"> <%= link_to "Back to home page", root_path %></li>
</ul>
