<div id="header">
  <h3 id="inbox">inbox</h3>
  <h3 id="sent" class="hide">sent</h3>
</div>

<ul id="aarons-messages">
  <%=  render partial: 'messages.html.erb', locals: {messages: @messages} %>
</ul>

<ul id="jordans-messages">
</ul>

<div id="new-message">
</div>
