<div id="header">
  <h3 id="inbox">inbox</h3>
  <h3 id="sent" class="hide">sent</h3>
</div>

<div id="aarons-messages">
  <%=  render partial: 'messages.html.erb', locals: {messages: @messages} %>
</div>

<div id="jordans-messages">

</div>

<ul id="ajax-messages">

</ul>
